[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
nltk = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
gensim = "*"
transformers = "<5"
torch = "*"

[dev-packages]

[requires]
python_version = "3.13"
